.terms-and-conditions {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #f8f7f7;
    background-color: #272522;
    margin-top:5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 630px; 
    overflow-y: auto; 
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #007bff; 
  }
  
  h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  a {
    color: #007bff;
    text-decoration: underline;
  }
  
  a:hover {
    text-decoration: none;
  }

  